[Desktop Entry]
Version=1.0
Type=Application
Name=FileDuper
GenericName=Duplicate File Manager
Comment=Find and manage duplicate files
Exec=/home/nex/c++/build/FileDuper
Icon=/home/nex/c++/fileduper.png
Terminal=false
Categories=Utility;FileTools;
StartupWMClass=FileDuper
Keywords=duplicate;files;cleaner;
